body {
    background-color: #f4c2c2;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    transition: background 2s ease;
}

button {
    background: linear-gradient(135deg, #a78bfa, #fbcfe8);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

input {
    border: 2px solid #a78bfa;  /* Фиолетовая граница */
    border-radius: 8px;  /* Закруглённые углы */
    padding: 10px;
    outline: none; /* Убирает синюю рамку в Chrome */
}

input::placeholder {
    color: #d1d5db;
    font-style: italic;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}


.container {
    text-align: center;
}

.hidden {
    display: none;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 10rem;
}

#password {
    width: 235px;
    padding: 8px;
    font-size: 1rem;
}

#content {
    padding-top: 300px; /* Добавляем отступ сверху */
}


.handshake {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 8rem;
}

.conversation {
    display: flex;
    flex-direction: column; /* элементы будут располагаться вертикально */
    gap: 10px; /* расстояние между блоками */
}

.message {
    display: flex;
    align-items: center; /* выравнивание по вертикали */
}

.message-image {
    width: 50px; /* размер картинки */
    height: 50px; /* размер картинки */
    margin-right: 10px; /* расстояние между картинкой и текстом */
}

.message-text {
    max-width: 400px; /* ограничение ширины текста */
    word-wrap: break-word; /* перенос слов, если они не помещаются */
}

.password-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

