body {
    background-color: #f4c2c2;
    color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.meow-button {
    background: linear-gradient(135deg, #a78bfa, #fbcfe8);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.letter-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    position: relative;
}

.letter-wrapper {
    position: relative;
    width: 300px; /* Фиксируем ширину блока, чтобы картинки не смещались */
    height: auto;
    z-index: -2;
}

.letter, .letter-cover, .paper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.open .letter-cover {
    transform: rotateX(180deg) translateY(-150px);
    transform-origin: top;
    transition: 1.5s ease-in-out;
}

.paper {
    height: 290px;
    width:230px;
    margin-left: 35px;
    object-fit:cover;
    z-index: -3;
}

@keyframes flyOut {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-300px);
    }
    100% {
        transform: translateY(0px) scale(6);
    }
}

.flyOut {
    animation: flyOut 1.5s ease-in-out forwards;
    transform-origin: top;
}

.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 320px; /* Отступ вниз от письма */
}

input {
    text-align: center;
    border: 2px solid #a78bfa;  /* Фиолетовая граница */
    border-radius: 8px;  /* Закруглённые углы */
    padding: 10px;
    outline: none; /* Убирает синюю рамку в Chrome */
    width: 220px;
}

input::placeholder {
    color: #d1d5db;
    font-style: italic;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.revealed {
    opacity: 1;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.conversation {
    display: flex;
    flex-direction: column; /* элементы будут располагаться вертикально */
    gap: 10px; /* расстояние между блоками */
}

.message {
    display: flex;
    align-items: center; /* выравнивание по вертикали */
    gap: 10px;
}

.handshake {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 8rem;
}
